
      body {
        background-color: #00BFFF; 
      }
    

.descricao-do-jogo {
    background-color: rgba(252, 255, 255, 0.4); 
    padding: 10px;
    border: 2px dotted #333; 
}


#frase-destaque {
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    padding: 15px;
    margin: 20px 0;
        color: hsl(200, 100%, 30%); 
    border-bottom: 3px double #333;
}